.order-modal-container {
  > .ui.standard {
    max-width: 600px;
    min-width: 300px;
    width: 40vw;

    .ui.input {
      width: 175px;
    }
  }
}

.order-modal-content {
  padding: 16px;

  .order-modal-row {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px lightgrey solid;

    > p {
      margin: 0;
      margin-bottom: 2px;
    }
  }
  .order-modal-total {
    justify-content: space-between;
    align-items: center;
    border-top: 1px black solid;

    > p {
      margin: 0;
      margin-bottom: 2px;
    }
  }
}
