#menu {
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > * {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  > .sui-menu {
    flex-direction: row;
    margin: 0;
  }

  .menu-separator {
    background-color: #222;
    min-height: 32px;
  }

  .menu-header {
    font-size: 48px;
    min-height: 104px;
  }

  .menu-section {
    min-height: 300px;
    justify-content: center;
    align-items: center;

    > h2 {
      font-size: 32px;
      font-weight: bold;
      margin: 0;
    }

    > .selection-container {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 16px;
      justify-content: center;
      padding: 24px 0;

      .card {
        .card-img-wrapper {
          height: 200px;
          width: 100%;
          .card-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    > .appetizer-container {
    }

    > .main-container {
    }

    > .drink-container {
    }
  }
}

.fl-row {
  flex-direction: row;
}
