.footer {
  width: 100vw;
  background: $secondary-color;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;

  .footer-brand {
    margin-top: 24px;
    font-size: 48px;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;

    > .brand {
      color: #555;

      > span {
        color: $primary-color;
      }
    }

    > hr {
      border: 2px solid #555;
      width: 30%;
    }
  }

  .footer-content {
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 24px auto;
    font-weight: inherit;

    > * {
      padding: 0 16px;
    }

    .location-contact {
      flex-direction: column;

      > * {
        color: #555;
        font-weight: inherit;
      }
    }

    .mailing {
      flex-direction: column;

      form {
        width: 100%;
        justify-content: space-around;
        align-items: center;

        > * {
          height: 100%;
        }

        > .ui.input {
          width: 100%;
          padding-right: 8px;
        }

        > .ui.button {
          background: #555;
          color: #ccc;
          padding: 8px 16px;
        }
      }
    }
    .follow {
      flex-direction: column;
      .social {
        width: 100%;
        justify-content: space-around;
        align-items: center;
        color: $primary-color;

        > * {
          justify-content: center;
          align-items: center;
          border: 2px solid$primary-color;
          border-radius: 50%;
          height: 48px;
          width: 48px;
          background: transparent;
          transition: all 0.5s;
        }

        > *:hover {
          background: $primary-color;
          color: $secondary-color;
          transition: all 0.5s;
          cursor: pointer;
        }
      }
    }

    .footer-header {
      color: #555;
    }
  }

  .copyright {
    margin: 16px;
    text-align: center;
    color: #555;
    > span {
      color: $primary-color;
      > a {
        color: inherit;
      }
    }

    > span:hover {
      text-decoration: underline;
    }
  }

  .footer-break {
    margin-top: 24px;
    width: 80vw;
    color: #444;
    background: #444;
    border-color: #444;
  }
}
