// Small screens
@media (max-width: 1023px) {
  .hide-sm {
    display: none;
  }

  .show-sm {
    display: block;
  }

  .nav {
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;

    .brand {
      margin: 16px 8px;
      font-size: 32px;
    }

    .hamburger {
      margin-right: 16px;
      margin-top: 24px;

      a,
      label {
        color: $secondary-color;
        text-decoration: none;
      }

      li {
        list-style: none;
        text-align: center;
        width: 100%;

        a {
          padding: 10px;
        }
      }

      .showmenu {
        display: none;
      }

      .navigation__list {
        display: flex;
        max-height: 0;
      }

      #btn-hamb {
        background-color: transparent;
        border: none;
        visibility: hidden;
        opacity: 0;
      }

      .navigation__list {
        flex-direction: column;
      }

      .navigation__list li {
        vertical-align: center;
        flex: 2;
      }

      .showmenu {
        font-size: 50px;
        display: block;
        text-align: right;
        padding: 10px;
      }
      .hamb-cart {
        justify-content: center;
        align-items: center;

        > .count {
          background: $primary-color;
          border-radius: 50%;
          font-size: 12px;
          position: absolute;
          top: 0;
          align-items: center;
          justify-content: center;
          color: white;
          margin-left: 24px;
          width: 24px;
          height: 24px;
          font-size: 12px;
          margin-top: 12px;
        }
      }

      #btn-hamb:checked ~ #showmenu {
        transition: all 0.5s;
        max-height: 20vh;
        border-bottom: 4px solid$primary-color;
      }

      #btn-hamb:checked ~ #showmenu.transparent {
        border: none;
      }

      #showmenu {
        position: absolute;
        overflow: hidden;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        transition: all 0.5s;
        max-height: 0;
        width: 100vw;
        background-color: white;
        font-size: 24px;
      }

      #showmenu.transparent {
        background-color: transparent;
        border: none;
      }
    }
  }

  .nav.transparent {
    background: transparent;
    min-height: 120px;
    transition: all 0.5s;
    border: none;
  }

  .hero {
    position: absolute;
    top: 0;
    max-height: 100vh;
    width: 100%;

    > .hero-img {
      background-image: url('../public/hero.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: -2;
    }

    > .hero-content {
      margin: auto;
      margin-top: 160px;
      flex-direction: column;
      width: 80vw;
      height: calc(100% - 144px);
      z-index: 1;

      > h1 {
        font-family: $secondary-font;
        font-size: 56px;
        color: $primary-color;
      }

      > p {
        font-size: 16px;
        font-weight: bold;
      }

      > a > .ui.button {
        width: 100%;
      }
    }
  }

  .footer {
    .footer-content {
      grid-template-columns: 1fr 1fr;
      row-gap: 32px;
    }
  }
}

// Tablets
@media (max-width: 768px) {
  .nav .hamburger {
    > #showmenu {
      font-size: 16px;

      .hamb-cart {
        .count {
          margin-left: 16px;
          width: 16px;
          height: 16px;
          font-size: 12px;
          margin-top: 12px;
        }
      }
    }
  }

  .hero > .hero-content > h1 {
    font-size: 42px;
  }

  .footer {
    .footer-content {
      grid-template-columns: 1fr;

      .mailing form > input {
        height: 40px;
      }
    }

    .copyright {
      font-size: 11px;
    }
  }
}

// Mobile
@media (max-width: 480px) {
  .hide-mobile {
    display: none;
  }
}
