.nav {
  width: 100vw;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 128px;
  background: white;
  z-index: 2;
  color: #222;
  min-height: 88px;
  transition: all 0.5s;
  border-bottom: 4px solid red;

  .nav-left,
  .nav-right {
    width: 30%;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
  }

  .nav-left *,
  .nav-right * {
    font-size: 24px;
    font-weight: bold;
    font-family: inherit;
    color: #222;
    transition: all 0.5s;
  }
  .nav-left *:hover,
  .nav-right *:hover {
    color: red;
    transition: all 0.5s;
  }

  .brand {
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-family: $primary-font;
    font-weight: bold;
    color: #222;
    > span {
      color: red;
    }
    > img {
      height: 56px;
    }
  }
}

.cart {
  position: fixed;
  top: 32px;
  right: 24px;
  background: transparent;
  border: 2px solid #333;
  border-left: 4px solid #333;
  border-bottom: 8px solid #333;
  border-radius: 25%;
  color: #333;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  z-index: 3;
  transition: all 0.5s;

  > i {
    font-size: 24px;
  }

  > .count {
    background: red;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -16px;
    right: -16px;
    align-items: center;
    justify-content: center;
    color: white;
  }
}

.cart.cart-up {
  top: 18px;
}

.cart:hover {
  background: #555;
  color: white;
  transition: all 0.25s;
  cursor: pointer;
}

.cart:active {
  border: 2px solid #333;
}

.nav.transparent {
  background: transparent;
  min-height: 120px;
  transition: all 0.5s;
  border: none;
}
