.nav {
  width: 100vw;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background: white;
  z-index: 1;
  color: #222;
  min-height: 64px;
  transition: all 0.5s;
}

.nav.transparent {
  background: transparent;
  min-height: 120px;
  transition: all 0.5s;
}

.nav-underlay {
  width: 100vw;
  height: 64px;
  z-index: 0;
}

.nav-left,
.nav-right {
  width: 30%;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
}

.nav-left *,
.nav-right * {
  font-size: 32px;
  font-family: inherit;
  color: #222;
}

.nav img {
  height: 56px;
}
